DATABASE_URL=""
JWT_SECRET=""
JWT_EXPIRES_IN=""
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES_IN=""
PORT=
FRONTEND_URL=""
XENDIT_SECRET_KEY=""
XENDIT_WEBHOOK_TOKEN=""
AI_API_KEY=""
AI_MODEL=""
MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM=""
RESET_PASSWORD_URL=""